.wrapper{
    position: absolute;
    z-index: 2;
    top: 210px;
    left: 10px;
}
.originBtn{
    opacity: 1;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    /* background-image: url(../../../assets/icons/IconOrigin.png); */
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    cursor: pointer;
    transition: opacity 1s, box-shadow .3s, transform .3s, background-color .3s;
} 
.originBtnHide{
    opacity: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    /* background-image: url(../../../assets/icons/IconOrigin.png); */
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    cursor: pointer;
    transition: opacity 1s, box-shadow .3s, transform .3s, background-color .3s;
}
.originBtn:hover{
    box-shadow: 0px 0px 10px rgba(137, 0, 255, 0.4);
}
.originBtn:active{
    background-color: #dddddd;
    transform: scale(0.8);
}
.originBtn::before {
    content: attr(data-tooltip);
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px 15px;
    top: 10px;
    left: 90px;
    border-radius: 50px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}
.originBtn:hover::before {
    opacity: 1;
    visibility: visible;
}

.optionsActive{
    z-index: 2;
    overflow: hidden;
    width: 200px;
    height: 95px;
    background-color: white;
    border-radius: 25px;
    position: relative;
    left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    color: #333333;
    transition: .4s;
}
.optionsDeactive{
    z-index: 2;
    overflow: hidden;
    width: 200px;
    height: 0px;
    background-color: white;
    border-radius: 25px;
    position: relative;
    left: 80px;
    display: flex;
    flex-direction: column;
    transition: .2s;
}
.option{
    width: 100%;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    color: #333333;
    text-align: center;
    cursor: pointer;    
}
.optionSelected{
    width: 100%;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    color: #333333;
    text-align: center;
    cursor: pointer;
    background-color: rgb(226, 204, 255);    
}
.option:hover{
    background-color: rgb(226, 204, 255);
}