.wrapper{
    position: absolute;
    z-index: 2;
    top: 250px;
    left: 10px;;
}

.filterTitle {
    color: white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.filterImg {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background: none;
}

.filterImg:hover {
    transform: scale(1.1);
}

.filterBtn:active{
    transform: scale(1.1);
}

.optionsActive{
    width: 200px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 10px;
    position: relative;
    left: 80px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style: normal;
    color: #ffffff;
    overflow-y: scroll;
    transition: .4s;
}
.optionsActive::-webkit-scrollbar {
    width: 5px;
}

.optionsActive::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    border-radius: 10px;
}
.optionsActive::-webkit-scrollbar-button {
    background-color: rgba(0, 0, 0, 0.568);
    height: 10px;
}

.optionsDeactive{
    /* width: 200px; */
    height: 0px;
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 2px;
    position: relative;
    left: 80px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style: normal;
    color: #ffffff;
    overflow: auto;
    transition: .2s;
}
.optionsDeactive::-webkit-scrollbar {
    display: none;
}

.optionsDeactive::-webkit-scrollbar-thumb {
    display: none;
}
.optionsDeactive::-webkit-scrollbar-button {
    display: none;
}

.option{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style: normal;
    color: #c0c0c0;
    text-align: center;
    cursor: pointer;    
}
.optionSelected{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style: normal;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background-color: rgb(3, 6, 180);    
}
.option:hover{
    background-color: rgb(51, 102, 196);
    color: rgb(255, 255, 255);
}