.wrapper{
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 10px;
}

.orderTitle {
    color: white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.orderBtn{
    opacity: 1;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.orderBtn:hover{
    transform: scale(1.1);
}

.orderBtn:hover::before {
    opacity: 1;
    visibility: visible;
}

.optionsActive{
    width: 200px;
    height: 240px;
    z-index: 2;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 10px;
    position: relative;
    left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style: normal;
    color: #ffffff;
    transition: .4s;
}
.optionsDeactive{
    z-index: 2;
    overflow: hidden;
    width: 200px;
    height: 0px;
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 2px;
    position: relative;
    left: 80px;
    display: flex;
    flex-direction: column;
    transition: .2s;
}
.option{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style: normal;
    color: #c0c0c0;
    text-align: center;
    cursor: pointer;    
}
.optionSelected{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style: normal;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background-color: rgb(3, 6, 180);   
}
.option:hover{
    background-color: rgb(51, 102, 196);
    color: rgb(255, 255, 255);
}