.orderContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: last baseline;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.searchImg{
    opacity: 1;
    width: 60px;
    height: 60px;
    top: 5px;
    right: 5px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgb(180, 180, 180);
    transition: opacity 1s, box-shadow .3s, transform .3s, background-color .3s;
    cursor: pointer;
}

.searchImg:active{
    background-color: #dddddd;
    transform: scale(0.8);
}

.searchImg:hover::before {
    opacity: 1;
    visibility: visible;
}

.inputActive{
    width: 200px;
    height: 40px;
}
.inputDeactive .searchBar{
    padding: 0;
    width: 0;
    transition: .5s;
}
.searchBar{
    width: 200px;
    height: 40px;
    background-color: white;
    outline: none;
    border-radius: 30px;
    border: none;
    position: relative;
    z-index: 2;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    color: #333333;
    transition: 1s;
    display: flex;
}
.searchBar::placeholder{
    font-family: 'Roboto';
    font-size: 15px;
    font-style: italic;
    color: #999999;
}
.searchBar:focus{
    box-shadow: 0px 0px 10px rgba(137, 0, 255, 0.5);
    border: 0px;
}


@media (max-width: 600px) {
    .searchBar {
        width: 150px; /* Hace que la barra de búsqueda ocupe todo el ancho en pantallas pequeñas */
        font-size: 13px; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    }
    .inputActive{
        width:145px;
        height: 40px;
    }
}