.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-height: 77vh;
    margin-left: 10vw;
}

.navcontainer{
    display: flex;
    justify-content: left;
    align-items: start;
    flex-wrap: wrap;
}

.filtercont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}	

.searchwrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    width: 100%;
}
.paginationwrap{
    display: flex;
    gap: 15px;
}

.notfoundvd{
    color: white;
    font-size: 2em;
}
.notfoundvdimg{
    width: 50vh;
}
.btnPages{
    width: 40px;
    height: 40px;
    background: rgba(13, 1, 80, 0.432);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
}
.btnPages:hover{
    background: rgba(255, 255, 255, 0.4);
}
.btnPagesActive{
    transform: scale(1.2);
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgba(22, 22, 22, 0.8);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bolder;
    transition: background 0.2s, transform 0.2s;
}